@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

.App {
  text-align: center;
}

.NAVBAR {
  display: flex;
  background-color: #282c34;
  width: 100vw;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  font-family: "Inconsolata", monospace;
  padding: 0;
}

ul li.cc {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

ul li.cc::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

ul li.cc:hover::after {
  background-color: white;
}


h3 {
  color: white;
  justify-self: center;
  font-family: "Inconsolata", monospace;
}

.first-cont {
  display: flex;
  width: 22vw;
  align-items: center;
  justify-content: space-around;
}

.section-cont {
  width: 70vw;
  align-items: center;
}


li {
  color: white;
  font-size: larger;
}

.outline{
  display: flex;
  justify-content: space-around;
}
.profile{
  width: 40px;
  height: 40px;
  border-radius: 9999px;
}


@media (max-width: 800px) {
 .NAVBAR{
  display: none;
 }

}

#home{
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.socials{
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
}

.inside{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.home{
  margin-top: 8%;
}

h1{
  color: white;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 50px;
}


@media (min-width: 800px) {
 .socials{
 width: 10vw;
 }
 }