@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@300&display=swap');

.App {
  text-align: center;
}

.NAVBAR{
  display: flex;
  background-color: #282c34;
  width: 100vw;
  align-items: center;
}

ul{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Inconsolata', monospace;
}

h3{
  color: white;
  justify-self: center;
  font-family: 'Inconsolata', monospace;
}

.first-cont{
  display: flex;
  width: 22vw;
  align-items: center;
  justify-content: space-around;
}

.section-cont{
  width: 74vw;
  align-items: center;
}

li{
  color: white;
}